/* font */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;500;700&family=Work+Sans:wght@400;500;600;700&display=swap");

* {
    font-family: 'work sans', 'space mono';
}

/* --------------------- */

/* common section */
body {
    margin: 0;
}

.common-btn {
    border: none;
    border-radius: 3rem;
    background: #FF42A5;
    color: #ffffff;
    font-size: .9rem;
    font-weight: 600;
    margin-block: 20px;
    padding: 1rem 1.8rem;
    text-transform: uppercase;


}

.common-txt {
    color: #534C64;
    font-family: 'Work Sans';
    font-size: .9rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* nav section */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 8rem;
    box-shadow: 0px 4px 30px 0px #0000000d;
    padding-block: 10px;

}

.main-logo {
    display: flex;
    align-items: center;
    width: 50%;
}

.main-logo img {
    height: auto;
    width: 4rem;
    padding-inline: .5rem;
}

.logo-text {
    font-size: 2.3rem;
    margin-block: 1rem;
}

.logo-text>span {
    color: #FF42A5;
}

/* --------------------- */

.nav-txt {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
}

.nav-txt a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 550;
    font-family: 'space mono';
}

.nav-button {
    text-decoration: none;
    color: #3C354F;
    font-size: .8rem;
    font-family: 'space mono';
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0.5rem;
    background: #0b02231a;
    border: none;
    column-gap: .7rem;
    padding-inline: 1rem;
    padding-block: .5rem;
    font-weight: 550;
}

.nav-button svg {
    transform: scale(80%);
}

/* --------------------- */

/* Main Section */
#main-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 8rem;
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position: -35rem 0rem;
    background-size: cover;

}

#main-section>div {
    width: 50%;
}



.txt-container>h3 {
    color: #0B0223;
    font-size: 2.4rem;
    font-weight: 600;
    margin-block: 0;
    text-transform: uppercase;
}

.txt-container>h1, .gamer-headline, .games-headline {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5.2rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-block: 0;
}

.txt-container svg {
    transform: scale(80%);
}

.txt-container p {
    display: flex;
    align-items: center;
}

.txt-container>button {
    margin-right: 15px;
}

#btn2 {
    background-color: #4EC5F7;
}

/* --------------------- */

.pic-container img, .gamer-pic-container img {
    width: 100%;
}

/* ----main-section end---------- */

/* Gamer Section */

.gamer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 8rem;
    padding-block: 3.5rem;
    background-color: #ff42a508;
}

.gamer-section>div {
    width: 50%;
}

.gamer-txt-container {
    text-align: right;
}

.gamer-headline {
    font-size: 2rem;
    text-transform: none;
}

#gamer-txt {
    font-weight: 400;
    line-height: 1.6;
    padding-left: 25%;
}

#purpose-txt {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
    margin-block: 0;
}

#purpose-txt>span {
    font-size: 1.4rem;
    font-weight: 700;

}

/* --------------------- */

/* games card section */
.games-card-section {
    text-align: center;
    margin-inline: 8rem;
    margin-top: 5rem;

}

.games-card-section>h1, .games-headline {
    font-size: 2.5rem;
    text-transform: none;
    margin-block: 0;
}

.card-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-block: 2rem;
}

.cards {
    width: 14rem;
    height: auto;
}

.cards p {
    font-size: .8rem;
    font-weight: normal;
}

.img-container {
    position: relative;
}

.img-container img {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 5px);
    height: calc(100% - 10px);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: .5rem;
    border: 3px solid #FF42A5;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay .fa-solid {
    position: absolute;
    top: 50%;
    text-align: center;
    transform: scale(3);
}

.img-container:hover .overlay {
    opacity: 1;
}

/* --------------------- */

/* third-section */
.third-section {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-inline: 8rem;
    margin-bottom: -100px;
    padding-bottom: -100px;
    margin-top: 2rem;
}

.third-section div {
    width: calc(50% - 6rem);

}

.txt-container3rd {
    text-align: right;
    transform: translate(0%, 30%);


}

.txt-container3rd>h1 {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
}

.txt-container3rd>p {
    padding-left: 35%;
    font-weight: normal;
    font-size: .8rem;
    line-height: 1.6;
}

.txt-container3rd>h1>span {
    color: #FF42A5;
}

.img-3rdcontainer img {
    width: 100%;
    margin-bottom: -100px;
}

#smallpic {
    width: 50%;
    transform: translate(-45%, -80%);
}

/* --------------------- */
.category-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-inline: 8rem;
    margin-block: 8rem;
    padding-top: 2rem;

}

.category {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    transform: scale(.7);
    border: 1px solid #ffffff00;
    padding: 8px;
    border-radius: 3rem;
}

.category img {
    height: 80%;
}

.category-name {
    color: #0B0223;
    font-size: .9rem;
    font-weight: 600;
}

.category:hover {
    border: 1px solid #FF42A5;

}

/* --------------------- */

/* Footer */